<html>
  <head>
    <link rel="stylesheet" type="text/CSS" href="./style/mypage.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <div class="portfoliocard">
      <div class="coverphoto"></div>
      <div class="left_col">
        <div class="followers">
          <div class="follow_count"><%=consumer.myPost%></div>
          <a href="/MyPostList/1">내가 쓴 게시물</a>
        </div>
        <div class="following">
          <div class="follow_count"><%=consumer.myCommentPost%></div>
          <a href="/MyCommentList">내가 쓴 댓글</a>
        </div>
      </div>
      <div class="right_col">
        <h2 class="name"><%=consumer.id%></h2>
        <h3 class="location">id</h3>
        <ul class="contact_information">
          <li class="work"><%=consumer.name%></li>
          <li class="work"><%=consumer.nickName%></li>
        </ul>
      </div>
    </div>
    <div>
      <button type="button" class="btn-hover color-1" onclick="moveHome()">
        HOME
      </button>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
