<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <div id="hader-navbar-container">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/login">로그인</a></li>
        <li><a href="/signup">회원가입</a></li>
        <li><a href="/mypage">내 정보</a></li>
      </ul>
    </div>
    <div class="header-box">
      <h3><span>ALCOHOL</span> FREE</h3>
      <p>test</p>
    </div>
    <hr />
    <nav id="navbar">
      <ul>
        <li><a class="menuLink" href="/page/1">게시판</a></li>
        <li><a class="menuLink" href="#">메뉴2</a></li>
        <li><a class="menuLink" href="#">메뉴3</a></li>
        <li><a class="menuLink" href="#">메뉴4</a></li>
      </ul>
    </nav>
    <hr />
    <!-- <div class="middle-menu">
      </div> -->

    <!-- 댓글 기능 -->
    <h4>제목 : <%= data.제목 %></h4>
    <h4>내용 : <%= data.내용 %></h4>
    <hr />
       
    </form>
    <table class="table table-bordered">
      <% for (var i = 0; i < comment.length; i++){ %> <% if(id == comment[i].id)
      { %>
        <td><p> <span id="commentFont">작성자 :   <%= comment[i].작성자 %></span>  </p></td>
        <td class="tdBox"><p id="commentFont2"><span id="commentFont3"><%= comment[i].작성내용 %></span>  <span class="dayRight">작성날짜 <%= comment[i].작성날짜 %></span></p></td>
        <td><% if(comment[i].작성자 == usercookie) { %>
          <div class="btnBox"> 
          <button
            class="commentdelete btn btn-danger"
            id="test1"
            data-id="<%= comment[i]._id%>"
          >
            삭제
          </button>
        </div>
          <% } %>
          
        </td>
      </tr>
      <% } %> <% } %>
      <button onclick="moveList()">글 목록</button>

      <hr><br><br>

      

      <form action="/comment" method="post">
        <div class="input-group mb-3">
          <br />
          <input
            type="text"
            class="commentDate"
            id="commentDate"
            name="cmdate"
            value="<%= data._id %>"
          />
            <span class="input-group-text">Comment</span>
            <textarea class="form-control" aria-label="With textarea" name="date"></textarea>
          <button
            class="btn btn-outline-secondary"
            type="submit"
            id="button-addon2"
          >
            댓글작성
          </button>
        </div>
        <br><br>
        <h5>댓글 목록</h5>
     
    <script src="/public/js/list.js"></script>
  </body>
</html>
