<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/style/bordertest.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body style="margin: 0px">
    <div id="hader-navbar-container">
      <ul>
        <li><a href="/mypage">내 정보</a></li>
      </ul>
    </div>
    <div class="header-box">
      <a href="/">achool free</a>
      <br /><br /><br /><br />
    </div>
    <nav id="navbar">
      <ul class="navbar-link">
        <li><a class="menuLink" href="/page/1">게시판</a></li>
        <li><a class="menuLink" href="#">메뉴2</a></li>
        <li><a class="menuLink" href="#">메뉴3</a></li>
        <li><a class="menuLink" href="#">메뉴4</a></li>
      </ul>
    </nav>
    <br /><br /><br /><br />

    <!-- 폼 박스 -->
    <form
      class="titleBox"
      action="/edit?_method=PUT"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="pBox mb-3">
        <!-- id 데이터값 보내주는 input 태그 -->
        <input
          type="text"
          name="id"
          style="display: none"
          value="<%= data._id %> "
        />
        <!-- id 데이터값 보내주는 input 태그 -->
        <p>제목</p>
        <input
          value="<%= data.제목 %>"
          type="text"
          class="test form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="title"
        />
      </div>
      <div class="pBox mb-3">
        <p>내용</p>
        <input
          value="<%= data.내용 %>"
          type="text"
          class="test1 form-control"
          id="exampleInputPassword1"
          name="date"
        />
        <input
          type="text"
          value="<%= data.fileName %> "
          name="potoData"
          style="display: none"
        />
      </div>
      <div class="mb-3">
        <input class="form-control" type="file" id="formFile" name="image" />
      </div>
      <div class="submitBtn">
        <button type="submit" class="submitBtn btn btn-primary">수정</button>
      </div>
    </form>
  </body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/style/bordertest.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body style="margin: 0px">
    <div id="hader-navbar-container">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/mypage">내 정보</a></li>
      </ul>
    </div>
    <div class="header-box">
      <h3><span>ALCOHOL</span> FREE</h3>
      <p>test</p>
    </div>
    <hr />
    <nav id="navbar">
      <ul>
        <li><a class="menuLink" href="/page/1">게시판</a></li>
        <li><a class="menuLink" href="#">메뉴2</a></li>
        <li><a class="menuLink" href="#">메뉴3</a></li>
        <li><a class="menuLink" href="#">메뉴4</a></li>
      </ul>
    </nav>
    <hr />

    <!-- 폼 박스 -->
    <form
      class="titleBox"
      action="/edit?_method=PUT"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="pBox mb-3">
        <!-- id 데이터값 보내주는 input 태그 -->
        <input
          type="text"
          name="id"
          style="display: none"
          value="<%= data._id %> "
        />
        <!-- id 데이터값 보내주는 input 태그 -->
        <p>제목</p>
        <input
          value="<%= data.제목 %>"
          type="text"
          class="test form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="title"
        />
      </div>
      <div class="pBox mb-3">
        <p>내용</p>
        <input
          value="<%= data.내용 %>"
          type="text"
          class="test1 form-control"
          id="exampleInputPassword1"
          name="date"
        />
        <input
          type="text"
          value="<%= data.fileName %> "
          name="potoData"
          style="display: none"
        />
      </div>
      <div class="mb-3">
        <input class="form-control" type="file" id="formFile" name="image" />
      </div>
      <div class="submitBtn">
        <button type="submit" class="submitBtn btn btn-primary">수정</button>
      </div>
    </form>
  </body>
</html>
>>>>>>> f31af125c1a7b1d72ebcc74e14826c527eb1c8cf
